<%- include("partials/header"); -%>
    <h1>About us</h1>
    <ul>
      <li>
      <h2>Samyak Jain - Back End</h2>
      </li>
      <li>
      <h2>Jatin Didwania - Back End</h2>
      </li>
      <li>
      <h2>Akshat Nigam - Front End</h2>
      </li>
      <li>
      <h2>Rishit Jain - Front End</h2>
      </li>
      <li>
      <h2>Bhuvnesh Sharma - Front End</h2>
      </li>
    </ul>
    <p> <%= aboutContent %> </p>
<%- include("partials/footer"); -%>
